dash==0.21.1
dash-auth==0.0.10
dash-core-components==0.23.0
dash-html-components==0.11.0
dash-renderer==0.13.0
gunicorn==19.9.0
lorem==0.1.1
numpy==1.14.3
plotly==2.2.3
PyLyrics==1.1.0
requests==2.18.1
wikipedia==1.4.0
wordcloud==1.4.1

